@import './variables';

footer {
    height: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    overflow: hidden;
    // background-color: darken($c-4, 40%);
    // background: url('/images/footerBg.png') center center repeat;
    // background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
    // background-color: $c-4;
    background-color: darken($c-4, 25%);

    background-position: cover;
    color: rgb(172, 172, 172);
    // svg {
    //     position: absolute;
    //     bottom:0;
    //     height: 50%;
    //     path {
    //         box-shadow: -1px 2px 5px 0px rgb(143, 135, 29);
    //     }
    // }
        
    p {
        font-size: 1.5rem;
        position: relative;
        color: lighten($c-4, 50%);
        width: 100%;
        // background-color: $c-5;
    }
}