@import './variables';
@import "./footer";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



body {
    height: 100%;
    width: 100%;
    // background-color: darken($c-4, 50%);
    background: linear-gradient(to right, rgba(9, 9, 10, 0.692), rgba(7, 7, 7, 0.897)), url("/images/bgheader.jpg") center center; 
    background-position: cover;
    overflow-x: hidden;
    font-family: $f-3;
}


.button {
    text-decoration: none;
    padding: 1rem 1.5rem;
    // height: 2rem;
    // width: 1.5rem;
    // margin: 2rem 0;
    background-color: $c-2;
    color: $c-4;
    position: relative;
    border-radius: 15rem;
    transition: all 340ms ease-in-out;
    &:hover, &:active {
        background-color: darken($c-2, 5%);
        color: $c-5;
        // transform: translateY(15%);
        top: .2rem;
        // left: .3rem;
    }
    
}

// .about, .projects, .education, .info {
//     height: 100vh;
//     width: 100%;
    
// }

.button-special {
    text-decoration: none;
    position: relative;
    padding: 1rem 1.5rem;
    transition: all 250ms ease-in-out;
    background: $c-2;
    font-size: 1.4rem;
    color: $c-4;
    border-radius: .1rem;
    
    &:hover, &:active {
        color: $c-4;
        border-radius: 5rem;
        background: $c-1;
        padding: 1rem 3rem;
        top: .2rem;
        font: 600;
        // transform: translateY(4%);
        transform: scale(1.2);
    }
}


.about {
    height: 100vh;
    width: 100%;  
}


h2 {
    font-family: $f-4;
}

.title {
    padding: 2rem 0;
    text-align: center;
}

section {
    h2 {
        font-size: 2rem;
    }
}

@keyframes hover {
    50% {
        // transform: translateY(-5%);
        top: -30%;
    }

    100% {
        // transform: translateY(0);
        top: 0%;

    }
}


.about {
    // background-color: darken($c-4, 25%);
    
    
    color: $c-5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
        position: absolute;
        top:0;
        path {
            box-shadow: -1px 2px 5px 0px rgb(143, 135, 29);
        }
    }
    
    .container {
        position: relative;


        .avatar {
            text-align: center;
            transition: 250ms ease-in ;
            // animation: hover 5s ease-in 0s infinte;
            animation-name: hover;
            animation-duration: 5s;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-tap-highlight-color: transparent;

                
            img {
                height:15rem;
                width: 15rem;
                object-fit: cover;
                border-radius: 50%;
                border: solid .5rem darken($c-2, 1%);
                // box-shadow: -1px 2px 5px 0px rgb(204, 188, 14);
                // box-shadow: -1px 2px 5px 0px rgb(12, 12, 11)
            }

            .text {
                padding: 2rem 0;

                .icons {
                    margin-top: 2rem;
                    a {
                        text-decoration: none;
                    }
                    img {
                        border: .2rem solid darken($c-2, 1%);
                        height: 4rem;
                        margin: 0 .5rem;
                        width: 4rem;
                        position: relative;
                        transition: 340ms ease-in-out;
                        &:hover {
                            transform: translateY(-10%) scale3d(1, 1, 1);
                            cursor: pointer;
                            // box-shadow: -1px 2px 5px 0px rgb(141, 129, 2);
                            // box-shadow: -1px 2px 5px 0px rgb(22, 21, 3);
                            
                        }
                    }
                }
            }

            // &:hover {
            //     cursor: pointer;
            //     // Add animation for hover 
            //     transform: translateY(-5%);

            //     img {
            //         box-shadow: 0 5px 50px rgba(29, 29, 29, 0.89);                    
            //     }
                
            // }
        }
    }
}


.info {
    // background-color: darken($c-4, 30%);

    background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
    // background-position: cover;
    .title {
        background-color: darken($c-4, 25%);
        color: $c-5;
        box-shadow: -1px 2px 5px 0px rgba(196, 183, 0, 0.75);
    }

    .container {
        .bio {
            // background-color: #fff;
            padding: 5rem 0;
            justify-content: center;
            // flex-direction: column;
            align-items: center;
            display: flex;
            .image {
                border-radius: 50%;
                padding: 1rem;;
                // background-color: rgb(255, 214, 109);
                background-color: darken($c-4, 15%);
                margin-right: 2rem;
                img {
                    object-fit: cover;
                    width: 7rem;
                    height: auto;
                }
            }

            .text {
                width: 70%;                
                display: flex;                
                justify-content: center;
                // align-items: center;
                // background-color: lighten($c-2, 15%);
                background-color: darken($c-4, 15%);
                padding: 3rem; 
                border-radius: 1rem;
                color: $c-5;
                // grid-template-columns: 2fr 2fr;

                p {
                    font-size: 1.2rem;
                    color: $c-5;
                }

                section {
                    // height: 100%;
                    height: 1.5rem;
                    width: 100%;
                    flex-grow: 1;
                    p  {
                        margin-bottom: 2rem;
                    }

                    a {
                        margin: 2rem 0;
                    }

                }

                .skills {
                    flex-grow: 2;
                    margin-left: 5%;
                    width: 50%;
                    // background-color: #333;
                    section {
                        display: flex;
                        justify-content: space-between;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .skill {
                        margin-bottom: 1rem;

                        .custom-progress {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 100%;
                            height: 1rem;
                            border: none;
                            border-radius: .5rem;
                            background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
                        }

                        .custom-progress::-webkit-progress-bar {
                            border-radius: 18px;
                            background-color: $c-4;
                        }

                        .custom-progress::-moz-progress-bar, 
                        .custom-progress::-ms-fill,
                        .custom-progress::-webkit-progress-value {
                            border-radius: 1.5rem;
                            background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
                        }

                        // .custom-progress:::-moz-progress-bar {

                        // }

                        .progress-bar {
                            background-color: $c-4;
                            height: 1rem;
                            border-radius: 10rem;
                            .progress{
                                // background: $c-2;
                                background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);

                                border-radius: 10rem;
                                width: 60%;
                                height: 1rem;
                            }
                        }
                    }


                    
                }
            }
        }
    }

}



.projects {
    // background-color: darken($c-4, 50%);
    // background: url("/images/section-bg.jpg") center center;
    background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;

    background-position: cover;
    position: relative;
    height: 50rem;
    padding-bottom: 5rem;
    .title {
        background-color: darken($c-4, 25%);
        box-shadow: -1px 2px 5px 0px rgba(9, 231, 28, 0.75);

        // padding: 3rem 0;
        // text-align: center;
        color: $c-5;
    }

    .container {
        position: relative;
        // padding: 5rem 0;

        .roller {
            position: absolute;
            left: 10%;
            svg {
                width: 4rem;
                height: 4rem;
                path {
                    fill: darken($c-1, 10%)
                }
            }

        }

        .more {
            // background-color: #fff;
            width: 100%;
            display: block;
            text-align: center;
            // height: 5rem;
            padding: 5rem 0;
        }

        .all-projects {
            padding: 4rem 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            // background-color: #fff;
            .project {
                max-height: 100%;
                transform: scale(1.04);
                transition: 150ms ease-in;
                width: 20rem;
                // padding: 0 0 2rem;
                
                border-radius: .5rem;
                margin: 0 2rem;
                background-color: darken($c-4, 20%);
                // background-color: #ddd;
                img {
                    height: auto;
                    width: 100%;
                    border-top-right-radius: .5rem;
                    border-top-left-radius: .5rem;
                }
                
                .details {
                    height: 100%;
                    padding: 3rem .5rem 0;
                    text-align: center;
                    color: $c-2;
                    h2 {
                        font-size: 1.5rem;
                        color: darken($c-2, 15%);
                    }

                    .actions {
                        display: flex;                        
                        padding: 2rem 0 0; 
                        position: relative;
                        // background-color: #333;
                        a {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            // padding-bottom: 1rem;
                            color: $c-5;
                            text-decoration: none;

                            span {
                                transition: 350ms ease-in-out;
                                padding: 1rem 0;
                            }

                            &:hover, &:active {
                                span, i {
                                    opacity: .7;
                                    color: $c-2;
                                }
                                span {
                                    
                                    text-decoration: underline;
                                }
                            }
                        }

                        
                        
                        img {
                            width: 2rem;
                            height: auto;
                            // margin-right: 50%;
                            
                        }
                        
                        svg {
                            height: auto;
                            width: 2.2rem;
                            // margin-left: 30%;
                            // float: right;
                        }

                        .action {
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            // text-align: center;
                            padding: 0 .5rem 1rem .5rem
                        }

                      
                    }
                }

                &:hover {
                    // height: 50rem;
                    cursor: pointer;
                    // box-shadow: 0 1px 50px rgba(46, 46, 46, 0.616);
                    transform: scale(1.0);

                    .details {
                        h2 {
                        color: darken($c-2, 0);
                        }
                    }

                }
            }
        }
    }
    
    }



.education {
    background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;

    background-position: cover;


    padding-bottom: 5rem;

    .title {
        background-color: darken($c-4, 15%);
        box-shadow: -1px 2px 5px 0px rgb(112, 37, 158);
        color: $c-5;
    }

    .container {
        // background: #510553;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .resu, .edu {
            background-color: darken($c-4, 20%);
            padding: 0 3rem;   
            transition: 250ms;
            // width: 50%;
            border-radius: 1rem;
            color: $c-5;
            box-shadow: -1px 2px 5px 0px rgb(112, 37, 158);
            &:hover {
                transform: translateY(2%);
                box-shadow: -1px 2px 5px 0px rgb(50, 22, 68);
            }
        }

        .resu .case, .edu .case {
            width: 50%;
            .text {
                .time {
                    background-color: darken($c-3, 20%);
                    padding: .4rem .8rem;
                    border-radius: 5rem;
                    color: $c-2;
                }
    
                h3 {
                    padding: 1rem 0;
                }
            }
        }
    }

    .case {
        margin: 3rem 0;
    }

    .edu {
        display: flex;
        width: 70%;
        justify-content: space-around;

        .case {
            display: flex;
        }

        .case .icon {
            padding: 0 1rem;
            img {
                height: auto;
                width: 2rem;
            }
        }
    }

    .resu {
        margin-top: 2rem;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        // justify-content: center;

        .case {
            display: flex;
        }

        .case .icon {
            padding: 0 1rem;

            img {
                height: auto;
                width: 2rem;
            }
        }

        .case .text {
            // .time {
            //     background-color: darken($c-3, 20%);
            //     padding: .4rem .8rem;
            //     border-radius: 5rem;
            //     color: $c-2;
            // }

            // h3 {
            //     padding: 1rem 0;
            // }
        }
    }


}






@media (max-width: 858px) {
    .projects {
        height: 100%;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .all-projects {
                display: inherit;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .project {
                    margin: 2rem 0;
                }
            }
        }
    }


    section h2 {
        font-size: 1.4rem;
        span {
            color: lighten($c-2, 10%);
            // font-weight: 800;
        }
    }

    .education {
        .container {
            display: flex;
            flex-direction: column;
            
            // This fixes the case taking half, might need to refactor
            .resu .case, .edu .case {
                width: 100%;
            }

            .edu {
                display: flex;
                flex-direction: column;
            }

            
            .resu, .edu {
                margin-bottom: 4rem;
                width: 80%;
    
                .case {
                    display: flex;
                    flex-direction: column;
                    margin: 2rem 0;
                    .icon {
                        margin: 1rem 0;
                    }
    
                    .text {
                        
                        .time {
                            
                        }
    
                        h3 {
                            padding: 1em 0 .2rem;
                        }
                    }
                }
            }
        }
        
    }


    .info {
        .container .bio {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;

            .text {
                height: 100%;
                padding: 5% 2rem 12%;
            }

            .image {
                margin-bottom: 1rem;
            }
        }
    }

}



@media (max-width: 663px) {
    .info {

    .container .bio {

            .text {
                height: 100%;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                section {
                    text-align: center;
                    margin-bottom: 60%;
                    // padding-bottom: 100%;
                }

                .skills {
                    // margin-top: 60%;
                }
            }
        }

    } 
}


@media (max-width:517px) {
    .info .container .bio {
        .text {

            padding: .5rem 1rem;
            section {
                margin-bottom: 19rem;
            }
        }
    }
}


@media (max-width: 425px) {
    
    .info .container .bio {
        .text {
            width: 90%;
            padding: .5rem 1rem;
            section {
                margin-bottom: 19rem;
            }
        }
    }
}