@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Grenze+Gotisch&family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
footer {
  height: 5rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 17, 0.829)), to(rgba(0, 0, 17, 0.781))), url("/images/section-bg.jpg") center center;
  background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
  background-position: cover;
  color: #acacac;
}

footer p {
  font-size: 1.5rem;
  position: relative;
  color: #46494C;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 17, 0.829)), to(rgba(0, 0, 17, 0.781))), url("/images/section-bg.jpg") center center;
  background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
  background-position: cover;
  overflow-x: hidden;
  font-family: Muli;
}

.button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #ffd700;
  color: #46494C;
  position: relative;
  border-radius: 15rem;
  -webkit-transition: all 340ms ease-in-out;
  transition: all 340ms ease-in-out;
}

.button:hover, .button:active {
  background-color: #e6c200;
  color: #F8FFE5;
  top: .2rem;
}

.button-special {
  text-decoration: none;
  position: relative;
  padding: 1rem 1.5rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #ffd700;
  font-size: 1.4rem;
  color: #46494C;
  border-radius: .1rem;
}

.button-special:hover, .button-special:active {
  color: #46494C;
  border-radius: 5rem;
  background: #21dd41;
  padding: 1rem 3rem;
  top: .2rem;
  font: 600;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

h2 {
  font-family: "Montserrat Subrayada";
}

.title {
  padding: 2rem 0;
  text-align: center;
}

section h2 {
  font-size: 2rem;
}

@-webkit-keyframes hover {
  50% {
    top: -30%;
  }
  100% {
    top: 0%;
  }
}

@keyframes hover {
  50% {
    top: -30%;
  }
  100% {
    top: 0%;
  }
}

.about {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 9, 10, 0.692)), to(rgba(7, 7, 7, 0.897))), url("/images/bgheader.jpg") center center;
  background: linear-gradient(to right, rgba(9, 9, 10, 0.692), rgba(7, 7, 7, 0.897)), url("/images/bgheader.jpg") center center;
  background-position: cover;
  color: #F8FFE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about svg {
  position: absolute;
  top: 0;
}

.about svg path {
  -webkit-box-shadow: -1px 2px 5px 0px #8f871d;
          box-shadow: -1px 2px 5px 0px #8f871d;
}

.about .container {
  position: relative;
}

.about .container .avatar {
  text-align: center;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.about .container .avatar img {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: solid 0.5rem #fad300;
}

.about .container .avatar .text {
  padding: 2rem 0;
}

.about .container .avatar .text .icons {
  margin-top: 2rem;
}

.about .container .avatar .text .icons a {
  text-decoration: none;
}

.about .container .avatar .text .icons img {
  border: 0.2rem solid #fad300;
  height: 4rem;
  margin: 0 .5rem;
  width: 4rem;
  position: relative;
  -webkit-transition: 340ms ease-in-out;
  transition: 340ms ease-in-out;
}

.about .container .avatar .text .icons img:hover {
  -webkit-transform: translateY(-10%) scale3d(1, 1, 1);
          transform: translateY(-10%) scale3d(1, 1, 1);
  cursor: pointer;
}

.info {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 17, 0.829)), to(rgba(0, 0, 17, 0.781))), url("/images/section-bg.jpg") center center;
  background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
}

.info .title {
  background-color: #09090a;
  color: #F8FFE5;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(196, 183, 0, 0.75);
          box-shadow: -1px 2px 5px 0px rgba(196, 183, 0, 0.75);
}

.info .container .bio {
  padding: 5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .container .bio .image {
  border-radius: 50%;
  padding: 1rem;
  background-color: #212324;
  margin-right: 2rem;
}

.info .container .bio .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 7rem;
  height: auto;
}

.info .container .bio .text {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #09090a;
  padding: 3rem;
  border-radius: 1rem;
  color: #F8FFE5;
}

.info .container .bio .text p {
  font-size: 1.2rem;
  color: #F8FFE5;
}

.info .container .bio .text section {
  height: 1.5rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.info .container .bio .text section p {
  margin-bottom: 2rem;
}

.info .container .bio .text section a {
  margin: 2rem 0;
}

.info .container .bio .text .skills {
  margin-left: 5%;
  width: 100%;
}

.info .container .bio .text .skills section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.info .container .bio .text .skills .skill {
  margin-bottom: 1rem;
}

.info .container .bio .text .skills .skill .custom-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  border: none;
  border-radius: .5rem;
  background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
}

.info .container .bio .text .skills .skill .custom-progress::-webkit-progress-bar {
  border-radius: 18px;
  background-color: #46494C;
}

.info .container .bio .text .skills .skill .custom-progress::-moz-progress-bar,
.info .container .bio .text .skills .skill .custom-progress::-ms-fill,
.info .container .bio .text .skills .skill .custom-progress::-webkit-progress-value {
  border-radius: 1.5rem;
  background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
}

.info .container .bio .text .skills .skill .progress-bar {
  background-color: #46494C;
  height: 1rem;
  border-radius: 10rem;
}

.info .container .bio .text .skills .skill .progress-bar .progress {
  border-radius: 10rem;
  height: 1rem;
}

.info .container .bio .text .skills .skill .progress-bar .progress.react {
  width: 89%;
  background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
}

.info .container .bio .text .skills .skill .progress-bar .progress.html {
  width: 95%;
  background: repeating-linear-gradient(135deg, #df8c10, #df8c10 10px, #bd760d 10px, #eba134 20px);
}

.info .container .bio .text .skills .skill .progress-bar .progress.css {
  width: 85%;
  background: repeating-linear-gradient(135deg, #0ca4eb, #0ca4eb 10px, #0880b8 10px, #3cbaf5 20px);
}

.info .container .bio .text .skills .skill .progress-bar .progress.node {
  width: 70%;
  background: repeating-linear-gradient(135deg, #4faf3e, #4faf3e 10px, #257517 10px, #63d150 20px);
}

.info .container .bio .text .skills .skill .progress-bar .progress.js {
  width: 80%;
  background: repeating-linear-gradient(135deg, #F0D81D, #F0D81D 10px, #a89505 10px, #eed40e 20px);
}

.projects {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 17, 0.829)), to(rgba(0, 0, 17, 0.781))), url("/images/section-bg.jpg") center center;
  background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
  background-position: cover;
  position: relative;
  height: 50rem;
  padding-bottom: 5rem;
}

.projects .title {
  background-color: #09090a;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(9, 231, 28, 0.75);
          box-shadow: -1px 2px 5px 0px rgba(9, 231, 28, 0.75);
  color: #F8FFE5;
}

.projects .container {
  position: relative;
}

.projects .container .roller {
  position: absolute;
  left: 10%;
}

.projects .container .roller svg {
  width: 4rem;
  height: 4rem;
}

.projects .container .roller svg path {
  fill: #1ab134;
}

.projects .container .more {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5rem 0;
}

.projects .container .all-projects {
  padding: 4rem 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .container .all-projects .project {
  max-height: 100%;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  width: 20rem;
  border-radius: .5rem;
  margin: 0 2rem;
  background-color: #151617;
}

.projects .container .all-projects .project img {
  height: auto;
  width: 100%;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.projects .container .all-projects .project .details {
  height: 100%;
  padding: 3rem .5rem 0;
  text-align: center;
  color: #ffd700;
}

.projects .container .all-projects .project .details h2 {
  font-size: 1.5rem;
  color: #b39700;
}

.projects .container .all-projects .project .details .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0 0;
  position: relative;
}

.projects .container .all-projects .project .details .actions a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F8FFE5;
  text-decoration: none;
}

.projects .container .all-projects .project .details .actions a span {
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  padding: 1rem 0;
}

.projects .container .all-projects .project .details .actions a:hover span, .projects .container .all-projects .project .details .actions a:hover i, .projects .container .all-projects .project .details .actions a:active span, .projects .container .all-projects .project .details .actions a:active i {
  opacity: .7;
  color: #ffd700;
}

.projects .container .all-projects .project .details .actions a:hover span, .projects .container .all-projects .project .details .actions a:active span {
  text-decoration: underline;
}

.projects .container .all-projects .project .details .actions img {
  width: 2rem;
  height: auto;
}

.projects .container .all-projects .project .details .actions svg {
  height: auto;
  width: 2.2rem;
}

.projects .container .all-projects .project .details .actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 .5rem 1rem .5rem;
}

.projects .container .all-projects .project:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects .container .all-projects .project:hover .details h2 {
  color: gold;
}

.education {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 17, 0.829)), to(rgba(0, 0, 17, 0.781))), url("/images/section-bg.jpg") center center;
  background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
  background-position: cover;
}

.education .title {
  background-color: #09090a;
  -webkit-box-shadow: -1px 2px 5px 0px #70259e;
          box-shadow: -1px 2px 5px 0px #70259e;
  color: #F8FFE5;
}

.education .container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .container .resu, .education .container .edu {
  background-color: #09090a;
  margin: 2rem 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 1rem;
  color: #F8FFE5;
}

.education .container .resu:hover, .education .container .edu:hover {
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
  -webkit-box-shadow: -1px 2px 5px 0px #321644;
          box-shadow: -1px 2px 5px 0px #321644;
}

.education .container .resu .case .text .time, .education .container .edu .case .text .time {
  background-color: #622986;
  padding: .4rem .8rem;
  border-radius: .2rem;
  color: #ffd700;
}

.education .container .resu .case .text h3, .education .container .edu .case .text h3 {
  margin: 1rem 0 1.3rem;
  letter-spacing: .1rem;
}

.education .case {
  margin: 3rem 0;
}

.education .edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .edu .heading {
  text-align: center;
  margin: 2rem 0 1rem;
  width: 100%;
}

.education .edu .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.education .edu .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.education .edu .case .text {
  width: 60%;
}

.education .edu .case .icon {
  padding: 0 1rem;
}

.education .edu .case .icon ion-icon {
  font-size: 3.5rem;
  color: #b39700;
}

.education .resu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education .resu .heading {
  text-align: center;
  margin: 2rem 0 1rem;
  width: 100%;
}

.education .resu .section {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 0 2rem;
}

.education .resu .case {
  margin: 0 .5rem;
  width: 100vw/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education .resu .case .resume {
  display: block;
  padding: 1rem 0;
  font-size: 3.5rem;
  color: #b39700;
}

.education .resu .case .text ul {
  list-style-type: none;
}

.education .resu .case .text ul li {
  margin: .4rem 0;
  line-height: 1.5rem;
}

.education .resu .case .text ul li ion-icon {
  color: #ffd700;
}

.education .resu .case .text .company {
  margin: .3rem 0;
  color: #ccac00;
  font-weight: 500;
}

.education .resu .case .icon img {
  height: auto;
  width: 2rem;
}

.contact {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .title {
  color: #F8FFE5;
  width: 100%;
  background-color: #09090a;
}

.contact .case {
  background-color: #09090a;
  color: #F8FFE5;
  width: 70%;
  margin: 1rem 0;
  padding: 1rem;
}

.contact .case .heading {
  padding: .5rem 0;
}

.contact .case .heading h3 {
  font-size: 1.5rem;
}

.contact .case section .action {
  background: #151617;
  color: #F8FFE5;
  border-radius: 5rem;
  padding: .5rem 1rem;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  text-align: center;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
  margin: 1rem 0;
}

.contact .case section .action a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F8FFE5;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
  text-decoration: none;
}

.contact .case section .action a span {
  font-size: 1rem;
  margin: 0 .5rem;
}

.contact .case section .action:hover, .contact .case section .action:active {
  background-color: #F8FFE5;
  color: #46494C;
}

.contact .case section .action:hover a, .contact .case section .action:active a {
  color: #46494C;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.contact .case section .social-links a {
  color: #F8FFE5;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #ffd700;
}

.contact .case section .social-links a ion-icon {
  font-size: .2em;
}

@media (max-width: 864px) {
  .education .edu .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education .edu .section .case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .education .edu .section .case .text {
    width: 50%;
  }
  .education .resu .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education .resu .section .case {
    margin: 1.5rem 0;
  }
}

@media (max-width: 858px) {
  .projects {
    height: 100%;
  }
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .container .all-projects {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .container .all-projects .project {
    margin: 2rem 0;
  }
  section h2 {
    font-size: 1.4rem;
  }
  section h2 span {
    color: #ffdf33;
  }
  .education .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .education .container .edu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education .container .resu, .education .container .edu {
    width: 80%;
  }
  .education .container .resu .case, .education .container .edu .case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0;
  }
  .education .container .resu .case .icon, .education .container .edu .case .icon {
    margin: 1rem 0;
  }
  .education .container .resu .case .text h3, .education .container .edu .case .text h3 {
    padding: 1em 0 .2rem;
  }
  .info .container .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0;
  }
  .info .container .bio .text {
    height: 100%;
    padding: 5% 2rem 12%;
  }
  .info .container .bio .image {
    margin-bottom: 1rem;
  }
}

@media (max-width: 663px) {
  .info .container .bio .text {
    height: 100%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info .container .bio .text section {
    text-align: center;
    margin-bottom: 60%;
  }
}

@media (max-width: 517px) {
  .info .container .bio .text {
    padding: .5rem 1rem;
  }
  .info .container .bio .text section {
    margin-bottom: 19rem;
  }
}

@media (max-width: 425px) {
  .info .container .bio .text {
    width: 90%;
    padding: .5rem 1rem;
  }
  .info .container .bio .text section {
    margin-bottom: 19rem;
  }
}
/*# sourceMappingURL=main.css.map */