@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Grenze+Gotisch&family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Muli;
}

.button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #ffd700;
  color: #46494C;
  position: relative;
  border-radius: 15rem;
  -webkit-transition: all 340ms ease-in-out;
  transition: all 340ms ease-in-out;
}

.button:hover, .button:active {
  background-color: #e6c200;
  color: #F8FFE5;
  top: .2rem;
}

.button-special {
  text-decoration: none;
  position: relative;
  padding: 1rem 1.5rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #ffd700;
  font-size: 1.4rem;
  color: #46494C;
  border-radius: 2rem;
}

.button-special:hover, .button-special:active {
  color: #46494C;
  border-radius: 5rem;
  background: #21dd41;
  padding: 1rem 3rem;
  top: .2rem;
  font: 600;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about {
  height: 100vh;
  width: 100%;
}

h2 {
  font-family: "Montserrat Subrayada";
}

.title {
  padding: 2rem 0;
  text-align: center;
}

section h2 {
  font-size: 2rem;
}

@-webkit-keyframes hover {
  50% {
    top: -30%;
  }
  100% {
    top: 0%;
  }
}

@keyframes hover {
  50% {
    top: -30%;
  }
  100% {
    top: 0%;
  }
}

.about {
  background-color: #ffdf33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about svg {
  position: absolute;
  top: 0;
}

.about svg path {
  -webkit-box-shadow: -1px 2px 5px 0px #8f871d;
          box-shadow: -1px 2px 5px 0px #8f871d;
}

.about .container {
  position: relative;
}

.about .container .avatar {
  text-align: center;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.about .container .avatar img {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: solid 0.5rem #ffd700;
  -webkit-box-shadow: -1px 2px 5px 0px #ccbc0e;
          box-shadow: -1px 2px 5px 0px #ccbc0e;
}

.about .container .avatar .text {
  padding: 2rem 0;
}

.about .container .avatar .text .icons {
  margin-top: 2rem;
}

.about .container .avatar .text .icons img {
  border: 0.2rem solid #ffd700;
  height: 4rem;
  margin: 0 .5rem;
  width: 4rem;
  position: relative;
  -webkit-transition: 340ms ease-in-out;
  transition: 340ms ease-in-out;
}

.about .container .avatar .text .icons img:hover {
  -webkit-transform: translateY(-10%) scale3d(1, 1, 1);
          transform: translateY(-10%) scale3d(1, 1, 1);
  -webkit-box-shadow: -1px 2px 5px 0px #8d8102;
          box-shadow: -1px 2px 5px 0px #8d8102;
}

.about .container .avatar:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.about .container .avatar:hover img {
  -webkit-box-shadow: 0 20px 50px rgba(247, 252, 0, 0.89);
          box-shadow: 0 20px 50px rgba(247, 252, 0, 0.89);
}

.info {
  background-color: #ffdb1a;
}

.info .title {
  background-color: #f5ce00;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(196, 183, 0, 0.75);
          box-shadow: -1px 2px 5px 0px rgba(196, 183, 0, 0.75);
}

.info .container .bio {
  padding: 5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .container .bio .image {
  border-radius: 50%;
  padding: 1rem;
  background-color: #ffd66d;
  margin-right: 2rem;
}

.info .container .bio .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 7rem;
  height: auto;
}

.info .container .bio .text {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffe34d;
  padding: 3rem;
  border-radius: 1rem;
}

.info .container .bio .text p {
  font-size: 1.2rem;
  color: #46494C;
}

.info .container .bio .text section {
  height: 1.5rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.info .container .bio .text section p {
  margin-bottom: 2rem;
}

.info .container .bio .text section a {
  margin: 2rem 0;
}

.info .container .bio .text .skills {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-left: 5%;
  width: 50%;
}

.info .container .bio .text .skills section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.info .container .bio .text .skills .skill {
  margin-bottom: 1rem;
}

.info .container .bio .text .skills .skill .custom-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  border: none;
  border-radius: .5rem;
  background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
}

.info .container .bio .text .skills .skill .custom-progress::-webkit-progress-bar {
  border-radius: 18px;
  background-color: #46494C;
}

.info .container .bio .text .skills .skill .custom-progress::-moz-progress-bar,
.info .container .bio .text .skills .skill .custom-progress::-ms-fill,
.info .container .bio .text .skills .skill .custom-progress::-webkit-progress-value {
  border-radius: 1.5rem;
  background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
}

.info .container .bio .text .skills .skill .progress-bar {
  background-color: #46494C;
  height: 1rem;
  border-radius: 10rem;
}

.info .container .bio .text .skills .skill .progress-bar .progress {
  background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
  border-radius: 10rem;
  width: 60%;
  height: 1rem;
}

.projects {
  background-color: #1ab134;
  position: relative;
  height: 50rem;
  padding-bottom: 5rem;
}

.projects .title {
  background-color: #1ec73a;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(9, 231, 28, 0.75);
          box-shadow: -1px 2px 5px 0px rgba(9, 231, 28, 0.75);
  color: #F8FFE5;
}

.projects .container {
  position: relative;
}

.projects .container .roller {
  position: absolute;
  left: 10%;
}

.projects .container .roller svg {
  width: 4rem;
  height: 4rem;
}

.projects .container .roller svg path {
  fill: #1ab134;
}

.projects .container .more {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5rem 0;
}

.projects .container .all-projects {
  padding: 4rem 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .container .all-projects .project {
  height: 100%;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  width: 20rem;
  border-radius: .5rem;
  margin: 0 2rem;
  background-color: #151617;
}

.projects .container .all-projects .project img {
  height: auto;
  width: 100%;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.projects .container .all-projects .project .details {
  height: 100%;
  padding: 3rem .5rem 0;
  text-align: center;
  color: #ffd700;
}

.projects .container .all-projects .project .details h2 {
  font-size: 1.5rem;
  color: #b39700;
}

.projects .container .all-projects .project .details .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0 0;
  position: relative;
}

.projects .container .all-projects .project .details .actions img {
  width: 2rem;
  height: auto;
}

.projects .container .all-projects .project .details .actions svg {
  height: auto;
  width: 2.2rem;
}

.projects .container .all-projects .project .details .actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 .5rem 1rem .5rem;
}

.projects .container .all-projects .project:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 20px 50px rgba(61, 99, 0, 0.616);
          box-shadow: 0 20px 50px rgba(61, 99, 0, 0.616);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects .container .all-projects .project:hover .details h2 {
  color: gold;
}

.education {
  background-color: #994cc9;
  padding-bottom: 5rem;
}

.education .title {
  background-color: #8d3ac1;
  -webkit-box-shadow: -1px 2px 5px 0px #70259e;
          box-shadow: -1px 2px 5px 0px #70259e;
  color: #F8FFE5;
}

.education .container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .container .resu, .education .container .edu {
  background-color: #7f34ae;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms;
  transition: 250ms;
  border-radius: 1rem;
  color: #F8FFE5;
  -webkit-box-shadow: -1px 2px 5px 0px #70259e;
          box-shadow: -1px 2px 5px 0px #70259e;
}

.education .container .resu:hover, .education .container .edu:hover {
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
  -webkit-box-shadow: -1px 2px 5px 0px #321644;
          box-shadow: -1px 2px 5px 0px #321644;
}

.education .container .resu .case .text .time, .education .container .edu .case .text .time {
  background-color: #622986;
  padding: .4rem .8rem;
  border-radius: 5rem;
  color: #ffd700;
}

.education .container .resu .case .text h3, .education .container .edu .case .text h3 {
  padding: 1rem 0;
}

.education .case {
  margin: 3rem 0;
}

.education .edu .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education .edu .case .icon {
  padding: 0 1rem;
}

.education .edu .case .icon img {
  height: auto;
  width: 2rem;
}

.education .resu .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education .resu .case .icon {
  padding: 0 1rem;
}

.education .resu .case .icon img {
  height: auto;
  width: 2rem;
}

footer {
  height: 40vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #1ec73a;
  color: #acacac;
}

footer svg {
  position: absolute;
  bottom: 0;
  height: 50%;
}

footer svg path {
  -webkit-box-shadow: -1px 2px 5px 0px #8f871d;
          box-shadow: -1px 2px 5px 0px #8f871d;
}

footer p {
  font-size: 2rem;
}

@media (max-width: 858px) {
  .projects {
    height: 100%;
  }
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .container .all-projects {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .container .all-projects .project {
    margin: 2rem 0;
  }
  section h2 {
    font-size: 1.4rem;
  }
  section h2 span {
    color: #ffdf33;
  }
  .education .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education .container .resu, .education .container .edu {
    margin-bottom: 4rem;
    width: 80%;
  }
  .education .container .resu .case, .education .container .edu .case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0;
  }
  .education .container .resu .case .icon, .education .container .edu .case .icon {
    margin: 1rem 0;
  }
  .education .container .resu .case .text h3, .education .container .edu .case .text h3 {
    padding: 1em 0 .2rem;
  }
  .info .container .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0;
  }
  .info .container .bio .text {
    height: 100%;
    padding: 5% 2rem 12%;
  }
  .info .container .bio .image {
    margin-bottom: 1rem;
  }
}

@media (max-width: 663px) {
  .info .container .bio .text {
    height: 100%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info .container .bio .text section {
    text-align: center;
    margin-bottom: 60%;
  }
}

@media (max-width: 517px) {
  .info .container .bio .text {
    padding: .5rem 1rem;
  }
  .info .container .bio .text section {
    margin-bottom: 19rem;
  }
}

@media (max-width: 425px) {
  .info .container .bio .text {
    width: 90%;
    padding: .5rem 1rem;
  }
  .info .container .bio .text section {
    margin-bottom: 19rem;
  }
}
/*# sourceMappingURL=main.css.map */