@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Grenze+Gotisch&family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

$f-1: Bangers;
$f-2: 'Grenze Gotisch';
$f-3: Muli;
$f-4: 'Montserrat Subrayada';
$c-1: rgb(33, 221, 65);
$c-2: #ffd700;
$c-3: #994cc9;
$c-4: #46494C;
$c-5: #F8FFE5;



body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: $f-3;
}


.button {
    text-decoration: none;
    padding: 1rem 1.5rem;
    // height: 2rem;
    // width: 1.5rem;
    // margin: 2rem 0;
    background-color: $c-2;
    color: $c-4;
    position: relative;
    border-radius: 15rem;
    transition: all 340ms ease-in-out;
    &:hover, &:active {
        background-color: darken($c-2, 5%);
        color: $c-5;
        // transform: translateY(15%);
        top: .2rem;
        // left: .3rem;
    }
    
}

.about, .projects, .education, .info {
    height: 100vh;
    width: 100%;
    
}


h2 {
    font-family: $f-4;
}

.title {
    padding: 2rem 0;
    text-align: center;
}

section {
    h2 {
        font-size: 2rem;
    }
}

@keyframes hover {
    50% {
        // transform: translateY(-5%);
        top: -30%;
    }

    100% {
        // transform: translateY(0);
        top: 0%;

    }
}


.about {
    background-color: lighten($c-2, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
        position: absolute;
        top:0;
        path {
            box-shadow: -1px 2px 5px 0px rgb(143, 135, 29);
        }
    }
    
    .container {
        position: relative;


        .avatar {
            text-align: center;
            transition: 250ms ease-in ;
            // animation: hover 5s ease-in 0s infinte;
            animation-name: hover;
            animation-duration: 5s;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-tap-highlight-color: transparent;

                
            img {
                height:15rem;
                width: 15rem;
                object-fit: cover;
                border-radius: 50%;
                border: solid .5rem $c-2;
                box-shadow: -1px 2px 5px 0px rgb(204, 188, 14);
            }

            .text {
                padding: 2rem 0;

                .icons {
                    margin-top: 2rem;
                    img {
                        border: .2rem solid $c-2;
                        height: 4rem;
                        margin: 0 .5rem;
                        width: 4rem;
                        position: relative;
                        transition: 340ms ease-in-out;
                        &:hover {
                            transform: translateY(-10%) scale3d(1, 1, 1);
                            box-shadow: -1px 2px 5px 0px rgb(141, 129, 2);


                        }
                    }
                }
            }

            &:hover {
                cursor: pointer;
                // Add animation for hover 
                transform: translateY(-5%);

                img {
                    box-shadow: 0 20px 50px rgba(247, 252, 0, 0.89);
                    
                }
                
            }
        }
    }
}


.info {
    background-color: lighten($c-2, 5%);

    .title {
        background-color: darken($c-2, 2%);
        box-shadow: -1px 2px 5px 0px rgba(196, 183, 0, 0.75);
    }

    .container {
        .bio {
            // background-color: #fff;
            padding: 5rem 0;
            justify-content: center;
            // flex-direction: column;
            align-items: center;
            display: flex;
            .image {
                border-radius: 50%;
                padding: 1rem;;
                background-color: rgb(255, 214, 109);
                margin-right: 2rem;
                img {
                    object-fit: cover;
                    width: 7rem;
                    height: auto;
                }
            }

            .text {
                width: 70%;
                // display: grid;
                display: flex;
                // flex-direction: column;
                justify-content: center;
                // align-items: center;
                background-color: lighten($c-2, 15%);
                padding: 3rem; 
                border-radius: 1rem;
                // grid-template-columns: 2fr 2fr;

                p {
                    font-size: 1.2rem;
                    color: $c-4;
                }

                section {
                    height: 100%;
                    width: 100%;
                    flex-grow: 1;
                    p  {
                        margin-bottom: 2rem;
                    }

                    a {
                        margin: 2rem 0;
                    }

                }

                .skills {
                    flex-grow: 2;
                    margin-left: 4rem;
                    width: 50%;
                    // background-color: #333;
                    section {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .skill {
                        margin-bottom: 1rem;

                        .custom-progress {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 100%;
                            height: 1rem;
                            border: none;
                            border-radius: .5rem;
                            background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
                        }

                        .custom-progress::-webkit-progress-bar {
                            border-radius: 18px;
                            background-color: $c-4;
                        }

                        .custom-progress::-moz-progress-bar, 
                        .custom-progress::-ms-fill,
                        .custom-progress::-webkit-progress-value {
                            border-radius: 1.5rem;
                            background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #6d7fd1 20px);
                        }

                        // .custom-progress:::-moz-progress-bar {

                        // }
                    }


                    
                }
            }
        }
    }

}



.projects {
    background-color: darken($c-1, 10%);
    position: relative;
    .title {
        background-color: darken($c-1, 5%);
        box-shadow: -1px 2px 5px 0px rgba(9, 231, 28, 0.75);

        // padding: 3rem 0;
        // text-align: center;
        color: $c-5;
    }

    .container {
        position: relative;
        .roller {
            position: absolute;
            left: 10%;
            svg {
                width: 4rem;
                height: 4rem;
                path {
                    fill: darken($c-1, 10%)
                }
            }

        }
        .all-projects {
            padding: 4rem 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            // background-color: #fff;
            .project {
                height: 100%;
                transform: scale(1.04);
                transition: 150ms ease-in;
                width: 20rem;
                // padding: 0 0 2rem;
                
                border-radius: .5rem;
                margin: 0 2rem;
                background-color: darken($c-4, 20%);
                // background-color: #ddd;
                img {
                    height: auto;
                    width: 100%;
                    border-top-right-radius: .5rem;
                    border-top-left-radius: .5rem;
                }
                
                .details {
                    height: 100%;
                    padding: 3rem .5rem 0;
                    text-align: center;
                    color: $c-2;
                    h2 {
                        font-size: 1.5rem;
                        color: darken($c-2, 15%);
                    }

                    .actions {
                        display: flex;                        
                        // justify-content: space-evenly;
                        padding: 2rem 0 0; 
                        position: relative;
                        
                        img {
                            width: 2rem;
                            height: auto;
                            // margin-right: 50%;
                            
                        }
                        
                        svg {
                            height: auto;
                            width: 2.2rem;
                            // margin-left: 30%;
                            // float: right;
                        }

                        .action {
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            // text-align: center;
                            padding: 0 .5rem 1rem .5rem
                        }

                      
                    }
                }

                &:hover {
                    // height: 50rem;
                    cursor: pointer;
                    box-shadow: 0 20px 50px rgba(61, 99, 0, 0.616);
                    transform: scale(1.0);

                    .details {
                        h2 {
                        color: darken($c-2, 0);
                        }
                    }

                }
            }
        }
    }
    
    }



.education {
    background-color: $c-3;

    .title {
        background-color: darken($c-3, 5%);
        box-shadow: -1px 2px 5px 0px rgb(112, 37, 158);
        color: $c-5;
    }

    .container {
        // background: #510553;
        margin-top: 3rem;
    }

    .edu {
        
    }


}


footer {
    // padding: 2rem 0 0 0;
    height: 40vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: darken($c-1, 5%);
    color: rgb(172, 172, 172);
    svg {
        position: absolute;
        bottom:0;
        height: 50%;
        path {
            box-shadow: -1px 2px 5px 0px rgb(143, 135, 29);
        }
    }
        
    p {
        font-size: 2rem;
    }
}



@media (max-width: 858px) {
    .projects {
        .container {
            .all-projects {
                display: inherit;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .project {
                    margin: 2rem 0;
                }
            }
        }
    }
}