@import "./variables";
@import "./footer";

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $c-4;
    overflow-x: hidden;
    background: linear-gradient(to right, rgba(0, 0, 17, 0.829), rgba(0, 0, 17, 0.781)), url("/images/section-bg.jpg") center center;
    position: relative;
    display: flex;
    font-family: $f-3;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    // background-color: $c-2;
    // position: absolute;
    justify-content: flex-end;
}

header {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    position: relative;
    color: $c-5;
    background: darken($c-4, 20%);

    .title {
        font-family: $f-2;
        h1 {
            font-size: 2.5rem;
            letter-spacing: 2.5px;
        }
    }

    .return {
        position: relative;
        margin-left: 1rem;
        top: 5%;

        a {
            text-decoration: none;
            color: darken($c-4, 35%);
            padding: .5rem 1rem;
            background-color: $c-2;
            border-radius: .2rem;
            transition: 350ms ease-in-out;

            &:hover {
                background: $c-4;
                color: $c-5;
                border-radius: 100px;
                transform: translateY(-5%);
            }
        }
    }
}


.projects {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // background-color: #fff;
    flex-direction: column;
    // width: 40rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .container {
        position: relative;
        box-shadow: -1px 5px 30px -5px rgb(36, 36, 36);
        width: 20rem;
        background-color: darken($c-4, 15%);
        padding: 1rem 0 0;
        overflow: hidden;
        height: 100%;
        border-radius: 15px;
        margin: 1rem 1rem;
        transition: 350ms ease-in-out;
        &:hover {
            box-shadow: none;
        }
        .title {
            // background-color: #333;
            padding: 1rem 1rem;
            display: flex;
            color: $c-5;
            justify-content: space-between;
            h2 {
                font-family: $f-1;
                letter-spacing: 2.5px;
                color: ligthen($c-5, 40%);
                
                
            }
        }

        

        .round {
            height: 2rem;
            width: 2rem;
            top: 4%;
            right: 0%;
            box-shadow: 5px -1px 25px -4px rgba(49, 49, 49, 0.75);
            border-radius: 50%;

            &.react {
                @include setColor($react);
            }

            &.html {
                @include setColor($html)
            }

            &.flutter {
                @include setColor($flutter)
            }
        }
        

        .project {
            background-color: darken($c-4, 10%);
            width: 100%;
            position: relative;
            color: $c-5;
        
            img {
                height: auto;
                width: 100%;
            }

            .case {
                padding: 1rem;
            }

            .details {
                // display: flex;
                // justify-content: space-between;
                // align-items: center;

                div {
                    margin: 1rem 0;
                }

                .lang, .name {
                    p {
                        color: lighten($c-4, 50%);
                        font-size: 1.1rem;
                    }

                    span {

                    }
                }

                p {
                    padding: .5rem 0;
                }
            }

            .actions {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;

                .link {
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    color: $c-5;
                    align-items: center;
                    transition: 250ms ease-in-out;
                    justify-content: space-evenly;
                    i {
                        padding: .5rem 0;
                    }

                    &:hover {
                        color: $c-3;
                    }
                }

                // .icon {
                //     &.link {
                //         background: url("/images/githu.svg");
                //     }
                // }

            }
    }
    }
    
}

@media (min-width: 760px) {
    .projects {
        display: flex;
        flex-direction: row;
    }
}


@media (max-width: 700px) {
    header {
        display: inline-block;
        height: 100%;
        padding: 1rem 0;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // height: 100%;
        .return {
            // position: relative;
            display: inline;
        }
    }
}

